/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.page-area {
	padding: 80px 0px;
}

.button-area {
	padding: 30px 0px 50px 0px;
}

.post-form textarea {
	height: 250px;
}