.page-area
  padding: 80px 0px

.button-area
  padding: 30px 0px 0px 0px

.post-form textarea
  height: 250px

.posts-table
  background: #dddddd

  .title
    width: 60%

  .author
    width: 20%

  .date
    width: 20%

footer
  padding-top: 80px

.button-area
  form
    display: inline-block

.post
  h1.title
    font-size: 180%
    border-bottom: 1px solid #000000

  .post-content
    border-bottom: 1px solid #dddddd

  .post-author, .post-date
    color: #666666
    float: right
    display: inline-block

h2.replies
  font-size: 130%

.reply
  padding-left: 80px
  margin-bottom: 30px

  .reply-content
    border-bottom: 1px solid #dddddd

  .reply-author
    padding-left: 20px

  .reply-date, .reply-author
    color: #666666
    display: inline-block